<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/chicken.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header th:insert="~{blocks/header.html :: header}"></header>

<div class="background"></div>

<div class="container">
    <h1>Hochwertiges Hähnchenfleisch vom Hersteller</h1>
    <div id="product-container" class="product-container" th:each="el : ${product}">
        <h3 th:text="${el.name}"/>
        <h3 th:text="${el.article}"/>
        <h3 th:text="${el.price}"/>
    </div>
</div>

<!-- Окно логирования -->
<div th:insert="~{blocks/login.html :: login}"></div>

<!-- Окно регистрации -->
<div th:insert="~{blocks/registration.html :: registration}"></div>

<footer th:insert="~{blocks/footer.html :: footer}"></footer>

<script src="/js/chicken.js"></script>
<script src="/js/login.js"></script>
<script src="/js/registration.js"></script>

</body>
</html>