<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken</title>
    <link rel="stylesheet" href="../static/css/semifinished.css">
</head>
<body>

    <div class="background"></div>

    <header class="header">
        <div class="logo">
            <a href="index.html"><img src="../static/logo/logo1.jpeg" alt="Logo"></a>
        </div>
    </header>

    <div>
        <a href="index.html" class="main">Hauptseite</a>
    </div>

    <div class="container">
        <h1 class="text">Halbfertige Produkte</h1>
        <a id="semifinished-container" class="semifinished-container"></a>
    </div>


    <footer class="footer">
        <div class="contact-info">
            <p>contact-info:</p>
            <p>+49 151 18312829</p>
            <p>+49 151 67553700</p>
            <p>Email:  info@transporte-miller.de </p>
        </div>
    </footer>

    <script src="../static/js/semifinished.js"></script>

</body>
</html>
